<div class="container mt-3">
	<div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Patient Edition">
		<button type="button" class="btn btn-outline-primary mr-2" routerLink="/patients/{{patient.ID}}" >
			<span class="oi oi-document" title="Edit" aria-hidden="true"></span>
			Edit Patient Data
		</button>
		<button type="button" class="btn btn-primary mr-2" >
			<span class="oi oi-phone" title="Phone" aria-hidden="true"></span>
			Call patient now
		</button>

	</div>
	<p>Days under inspection: {{patient.DaysUnderInspection}} </p>
	<p> Phone: {{ patient.Phone }} </p>
	<dah-health-chart [reports]="reports"></dah-health-chart>
</div>
