<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
	<a class="navbar-brand" href="" routerLink="/">Doctor@Home</a>

	<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarsExample09">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="" routerLink="/patients" routerLinkActive="active">Patients</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="" routerLink="/organizations" routerLinkActive="active">Organization</a>
			</li>
		</ul>
		<ul class="navbar-nav  navbar-right">
			<li class="nav-item" *ngIf="isLogged == false">
				<a class="nav-link" href="" routerLink="/login">Sign In</a>
			</li>
			<li class="nav-item" *ngIf="isLogged == true">
				<a class="nav-link" href="" (click)="logout()">Logout</a>
			</li>
		</ul>
	</div>

</nav>
