<div class="col-md-6 offset-md-3 mt-5">
	<div class="alert alert-info">
		Username: test<br />
        Password: test
	</div>
	<div class="card">
		<h4 class="card-header">Login to Doctor@Home</h4>
		<div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': usernameCtrl.dirty && usernameCtrl.invalid }" />
                    <div *ngIf="usernameCtrl.dirty && usernameCtrl.invalid" class="invalid-feedback">
	                    <div *ngIf="usernameCtrl.hasError('required')">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
	                <label for="password">Password</label>
	                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': passwordCtrl.dirty && passwordCtrl.invalid }" />
	                <div *ngIf="passwordCtrl.dirty && passwordCtrl.invalid" class="invalid-feedback">
		                <div *ngIf="passwordCtrl.hasError('required')">Password is required</div>
                    </div>
                </div>
                <button [disabled]="loginForm.invalid" class="btn btn-primary">
	                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
		</div>
	</div>
</div>
