<div class="container mb-3">
	<h1 class="mb-5" > Patients for {{clinician?.Name}} </h1>

	<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Table navigation">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<div class="input-group-text" id="btnGroupAddon2">Search</div>
			</div>
			<input type="text" class="form-control" aria-label="Full Text Search" aria-describedby="btnGroupAddon2" [formControl]="filter"/>
		</div>

		<div class="btn-group btn-group-toggle mb-3" ngbRadioGroup name="Only Observed" >
			<label ngbButtonLabel class="btn-outline-primary">
				<input ngbButton type="checkBox" [(ngModel)]="hideUnobserved" > Hide Unobserved Patient
			</label>
		</div>

		<div class="btn-group mb-3" role="group" aria-label="Edition">
			<button type="button" class="btn btn-outline-primary" href="" routerLink="/patients/new">
				<span class="oi oi-plus" title="Add" aria-hidden="true"></span>
				Add a Patient
			</button>
		</div>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" sortable="Name" (sort)="onSort($event)">Name</th>
				<th scope="col" sortable="UnderObservation" (sort)="onSort($event)">Under Observation</th>
				<th scope="col" sortable="LastReportDate" (sort)="onSort($event)">Last Report Date</th>
				<th scope="col" sortable="LastReportTriage" (sort)="onSort($event)">Last Report Triage</th>
				<th scope="col" sortable="LastReportHeartRate" (sort)="onSort($event)">Last Report Heart Rate (BPM)</th>
				<th scope="col" sortable="LastReportOxygenation" (sort)="onSort($event)">Last Report Oxygenation (%)</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let patient of filteredPatients$ | async">
				<tr [ngClass]="patient.LastReport?.triageDisplayLevel()">
					<td (click)="isCollapsed[patient.ID] = !isCollapsed[patient.ID]" >{{patient.Name}}</td>
					<td (click)="isCollapsed[patient.ID] = !isCollapsed[patient.ID]" >{{patient.UnderObservation ? "Yes" : "No" }}</td>
					<td (click)="isCollapsed[patient.ID] = !isCollapsed[patient.ID]" >{{ (patient.LastReport?.Date | date:'short' ) || 'N.A.' }}</td>
					<td (click)="isCollapsed[patient.ID] = !isCollapsed[patient.ID]" >{{ patient.LastReport?.triageDescription() || 'N.A.' }}</td>
					<td (click)="isCollapsed[patient.ID] = !isCollapsed[patient.ID]" >{{ patient.LastReport?.HearthBeat || 'N.A.' }}</td>
					<td (click)="isCollapsed[patient.ID] = !isCollapsed[patient.ID]" >{{ patient.LastReport?.Oxygenation || 'N.A' }}</td>
				</tr>
				<td colspan="6" style="padding:0px">
					<dah-patient-details [patient]="patient" *ngIf="!isCollapsed[patient.ID]" ></dah-patient-details>
				</td>
			</ng-container>
		</tbody>
	</table>
</div>
