<div class="container">
	<h1> Patients for |name| </h1>


	<div class="form-group form-inline">
		Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" sortable="Name" (sort)="onSort($event)">Name</th>
				<th scope="col" sortable="Treated" (sort)="onSort($event)">Treated</th>
				<th scope="col" sortable="MLTriage" (sort)="onSort($event)">ML Triage</th>
				<th scope="col" sortable="LastReportDate" (sort)="onSort($event)">Last Report Date</th>
				<th scope="col" sortable="LastReportHeartRate" (sort)="onSort($event)">Last Report Heart Rate</th>
				<th scope="col" sortable="LastReportOxygenation" (sort)="onSort($event)">Last Report Oxygenation</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let patient of filteredPatients$ | async">
				<tr>
					<td (click)="isCollapsed[patient.PatientID] = !isCollapsed[patient.PatientID]" >{{patient.Name}}</td>
					<td>{{patient.Treated ? "Yes" : "No" }}</td>
					<td>{{patient.MLTriage }}</td>
					<td>{{patient.LastReport ? patient.LastReport.Date : "n.a" }}</td>
					<td>{{patient.LastReport ? patient.LastReport.HearthBeat + " BPM" : "n.a" }}</td>
					<td>{{patient.LastReport ? patient.LastReport.Oxygenation + " %" : "n.a" }}</td>
				</tr>
				<dah-patient-details [patient]="patient" *ngIf="!isCollapsed[patient.PatientID]" ></dah-patient-details>
			</ng-container>
		</tbody>
	</table>
</div>
