<div class="container">
	<h1> Patients for |name| </h1>


	<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Table navigation">
		<div class="btn-group" role="group" aria-label="Edition">
			<button type="button" class="btn btn-outline-primary" href="" routerLink="/patients/new">Add a Patient</button>
		</div>
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text" id="btnGroupAddon2">Search</div>
			</div>
			<input type="text" class="form-control" aria-label="Full Text Search" aria-describedby="btnGroupAddon2" [formControl]="filter"/>
		</div>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" sortable="Name" (sort)="onSort($event)">Name</th>
				<th scope="col" sortable="Treated" (sort)="onSort($event)">Treated</th>
				<th scope="col" sortable="MLTriage" (sort)="onSort($event)">ML Triage</th>
				<th scope="col" sortable="LastReportDate" (sort)="onSort($event)">Last Report Date</th>
				<th scope="col" sortable="LastReportHeartRate" (sort)="onSort($event)">Last Report Heart Rate</th>
				<th scope="col" sortable="LastReportOxygenation" (sort)="onSort($event)">Last Report Oxygenation</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let patient of filteredPatients$ | async">
				<tr>
					<td (click)="isCollapsed[patient.PatientID] = !isCollapsed[patient.PatientID]" >{{patient.Name}}</td>
					<td (click)="isCollapsed[patient.PatientID] = !isCollapsed[patient.PatientID]" >{{patient.Treated ? "Yes" : "No" }}</td>
					<td (click)="isCollapsed[patient.PatientID] = !isCollapsed[patient.PatientID]" >{{patient.MLTriage }}</td>
					<td (click)="isCollapsed[patient.PatientID] = !isCollapsed[patient.PatientID]" >{{patient.LastReport ? patient.LastReport.Date : "n.a" }}</td>
					<td (click)="isCollapsed[patient.PatientID] = !isCollapsed[patient.PatientID]" >{{patient.LastReport ? patient.LastReport.HearthBeat + " BPM" : "n.a" }}</td>
					<td (click)="isCollapsed[patient.PatientID] = !isCollapsed[patient.PatientID]" >{{patient.LastReport ? patient.LastReport.Oxygenation + " %" : "n.a" }}</td>
				</tr>
				<td colspan="6" style="padding:0px">
					<dah-patient-details [patient]="patient" *ngIf="!isCollapsed[patient.PatientID]" ></dah-patient-details>
				</td>
			</ng-container>
		</tbody>
	</table>
</div>
