<div class="jumbotron">
	<div class="col-sm-8 mx-auto">
		<h1>Doctor @ Home</h1>
		<p>Doctor@Home </p>
		<p>This website is part of the Doctor@Home submission to the 72h <a href="https://codevscovid19.org" target="_blank">#CodeVsCovid19</a> online hackathon. Go to <a href="http://doctorathome.org" target="_blank">http://doctorathome.org</a> for a brief presentation and to <a href="https://devpost.com/software/doctor-home-6k7dyq" target="_blank">our devpost projet</a> to like us !!!.</p>
		<p>To ask credentials for a demonstration, go to our channel <a href="https://codevscovid19.slack.com/archives/C010ZFKKWK0" target="_blank">#doctor_at_home</a> on <a href="https://codevscovid19.slack.com/" target="_blank">https://codevscovid19.slack.com</a>.
        <p *ngIf="clinician == null">
	        <a class="btn btn-primary" href="/" role="button" routerLink="/login">Sign In &raquo;</a>
        </p>
	</div>
</div>
